<%= render "menu" %>

</br>

<% @offers.each do |offer| %>
  <div class="card">
    <p><%= offer.advertiser_name.titleize %></p>
    <p><%= offer.description.capitalize %></p>
    <p class="premium"><%= offer.premium ? 'Premium' : '' %></p>
    <button class="btn btn-success button-shop">
      <%= link_to 'Shop Now', offer.url %>
    </button>
  </div>
<% end %>
